/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/2390d622-58d3-4aec-b328-c42e0a771324.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/275f1550-7394-4d9d-bb4f-b9900c9127db.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/read.lock
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/.suo
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Browse.VC.db
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/fileList.bin
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/13423880cb6261a7.ipch
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.exe.recipe
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.ilk
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.log
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.pch
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.res
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.command.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.read.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.write.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/Cl.items.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/RemoteCtrl.lastbuildstate
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.command.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.read.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.write.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.command.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.read.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.write.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/pch.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/vc143.idb
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/vc143.pdb
/RemoteDesktopSystem/x64/Debug/RemoteCtrl.exe
/RemoteDesktopSystem/x64/Debug/RemoteCtrl.pdb
