/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/2390d622-58d3-4aec-b328-c42e0a771324.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/275f1550-7394-4d9d-bb4f-b9900c9127db.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/read.lock
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/.suo
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Browse.VC.db
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/fileList.bin
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/13423880cb6261a7.ipch
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.exe.recipe
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.ilk
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.log
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.pch
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.res
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.command.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.read.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.write.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/Cl.items.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/RemoteCtrl.lastbuildstate
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.command.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.read.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.write.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.command.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.read.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.write.1.tlog
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/pch.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/vc143.idb
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/vc143.pdb
/RemoteDesktopSystem/x64/Debug/RemoteCtrl.exe
/RemoteDesktopSystem/x64/Debug/RemoteCtrl.pdb
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/0abc6253-15e3-4fbd-85b3-fcb78c5d55ac.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/c423b455-54d6-467a-8001-b6d5e7dfdedf.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/dd373410-ae2f-4a5a-b775-943d29f3c2e4.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/FileContentIndex/e9628c5a-1638-46e8-a79a-740591be0cb6.vsidx
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Browse.VC.db-shm
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Browse.VC.db-wal
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Browse.VC.opendb
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Solution.VC.db
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Solution.VC.db-shm
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/Solution.VC.db-wal
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/2a019224f403d805.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/115d0c88230894e5/DBGRPTT.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/2cf0f22c353a718c/WINCORE.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/40262c91ce2b8540/THRDCORE.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/6f8d493dc5863298/THREAD.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/813a87711459cb6b/FINDFILE.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/876bd8dcadbd45ba/DBGRPTT.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/99f0be4cdb5d9fb7/DLGCORE.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/e8f2bd56813f3605/CMDTARG.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/e991c1ce789c693e/CLIENTSOCKET-80EC729C.002.ipch
/RemoteDesktopSystem/.vs/RemoteDesktopSystem/v17/ipch/AutoPCH/f6f19fa50db425f5/APPINIT.ipch
/RemoteDesktopSystem/RemoteClient/x64/Debug/CWTool.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/ClientSocket.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.Build.CppClean.log
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.exe.recipe
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.ilk
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.log
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.pch
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.res
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/CL.command.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/CL.read.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/CL.write.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/Cl.items.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/RemoteClient.lastbuildstate
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/link.command.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/link.read.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/link.write.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/rc.command.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/rc.read.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.tlog/rc.write.1.tlog
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClient.vcxproj.FileListAbsolute.txt
/RemoteDesktopSystem/RemoteClient/x64/Debug/RemoteClientDlg.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/StatusDlg.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/WatchDlg.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/pch.obj
/RemoteDesktopSystem/RemoteClient/x64/Debug/vc143.idb
/RemoteDesktopSystem/RemoteClient/x64/Debug/vc143.pdb
/RemoteDesktopSystem/RemoteCtrl/test2023.jpg
/RemoteDesktopSystem/RemoteCtrl/test2023.png
/RemoteDesktopSystem/RemoteCtrl/test2023.tiff
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/CServerSocket.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/CWTool.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/LockDialog.obj
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.Build.CppClean.log
/RemoteDesktopSystem/RemoteCtrl/x64/Debug/RemoteCtrl.vcxproj.FileListAbsolute.txt
/RemoteDesktopSystem/x64/Debug/RemoteClient.exe
/RemoteDesktopSystem/x64/Debug/RemoteClient.pdb
